body{
    margin: 10px;
    background-color: rgb(5, 83, 139);
}



.HeaderColumnLeft {
    background-image:url('Images/HotBeansLogo5.png');
    background-repeat: no-repeat;
    float: left;
    width:10%;
    height:25vh;
}



.HeaderColumnRight {
    overflow:auto;
    background-color: #ffffff;
    float: right;
    height: 18vh;
    width: 90%;
}

.HeaderTitle {
    padding-top: 0px;
    text-align: center;
    font-family: 'MS Reference Sans Serif';
    font-style: italic;
    font-size: 6vh;
}

.HeaderText {
    padding-top: 1px;
    text-align: center;
    font-family: 'MS Reference Sans Serif';
    font-style: italic;
    font-size: 2vh;
}

.HeaderRow:after {
    content: "";
    display: table;
    clear: both;
    background-color: #f1f1f1;
}


.topnav
    {
    overflow: hidden;
    background-color: #808080;
}


    .topnav a {
        float: left;
        display: normal;
        color: #f2f2f2;
        text-align: center;
        padding: 2vh 6vh;
        text-decoration: none;
        font-weight: bold;
        font-size: 2vh;
        width: 18vh;
    }


        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }



.columnLeft {
    display: inline-block;
    width: 30vh;
}


.columnCentre {
    display: inline-block;
    width: 100vh;
    height: 31em;
    border-style: ridge;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f1f1f1;
}


.columnRight {
    display:inline-block;
    width:22vh;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
}


.row:after {
    content:"";
    display: table;
    clear: both;
}



ul {
    display: inline-block;
    text-align: center;
}

li {
    text-align: left;
}


.ProfileText {
    display:inline-block;
    text-align: center;
    font-weight: bold;
}

.footer {
    text-align: center;
    margin-left: 40vh;
    padding: 0%;
    width: 140vh;
    height: 10vh;
}


@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.Error{
color:red;
    font-weight:normal;
}

label {
    font-weight: bold;
}
